body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: radial-gradient(
      at 46.6% 46.9%,
      hsla(266, 51%, 84%, 0.573) 0px,
      transparent 50%
    ),
    radial-gradient(at 28.5% 71%, hsla(313, 63%, 93%, 0.726) 0px, transparent 50%),
    radial-gradient(at 65.9% 75.2%, hsla(145, 87%, 94%, 0.776) 0px, transparent 50%);
  }
  
  header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px  rgb(190, 190, 190);
  }
  
  .logo {
    font-size: 29px;
  }
  
  .auto {
    color: #000000;
  }
  
  .acces {
    color: orange;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #000000;
    text-decoration: none;
    position: relative;
    font-size: 20px;
  }
  
  .nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: orange;
    bottom: -5px;
    left: 0;
    transition: width 0.3s;
  }
  
  .nav-links li a:hover::after {
    width: 100%;
  }
  
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .menu-toggle {
      display: flex;
    }
  
    header {
      padding: 10px;
    }
  }
  /* Agrega este bloque de código al final del archivo CSS */
  
  @media screen and (max-width: 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 50px;
      left: 0;
      background-color: #ffffff;
      transition: transform 0.3s ease-in-out; /* Agrega la transición aquí */
      transform: translateY(-100%);
    }
  
    .nav-links.active {
      transform: translateY(0);
      display: flex;
    }
  
    .nav-links li {
      margin: 10px 0;
    }
  
    .nav-links li a {
      font-size: 18px;
    }
  
    header {
      position: relative;
    }
  }
  
  
          .container {
              max-width: 800px;
              margin: 0 auto;
              padding: 20px;
              background-color: #ffffff;
              border-radius: 8px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          }
  
          table {
              width: 100%;
              border-collapse: collapse;
          }
  
          table, th, td {
              border: 1px solid #d3d3d3;
          }
  
          th, td {
              padding: 10px;
              text-align: left;
          }
  
          th {
              background-color: #3498db;
              color: #ffffff;
          }
          .title {
              background-color: rgb(255, 119, 0);
          color: #fff;
          text-align: center;
          padding: 20px 0;
      }
      
      .title-h1 {
          margin: 0;
          font-size: 36px;
      }
      
          h2 {
              color: #3498db;
          }
  
          p {
              margin: 10px 0;
          }
          #openModalBtn {
          background-color: #3498db;
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s;
      }
  
      #openModalBtn:hover {
          background-color: #007BFF;
      }
                  .modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.7);
}
#openModal {
background-color: #007BFF;
color: #fff;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
font-size: 16px;
}

#openModal:hover {
background-color: #0056b3;
}

.modal-content {
background-color: #fff;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
text-align: justify;
width: 40%; /* Reducir el ancho al 50% */
}

.modal input{
    width: 40px;
}
.close {
float: right;
font-size: 24px;
cursor: pointer;
}

#answer {
width: 100%;
}

  
#checkAnswersBtn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 130px;
  height: 40px;
  margin: 0 auto; /* Esta línea centra horizontalmente el botón */
}


      #checkAnswersBtn:hover {
          background-color: #0056b3;
      }
/* Estilo para la retroalimentación de respuestas */
/* Agrega estas reglas al final de tu bloque de estilo CSS existente */

.correct {
color: green;
}

.incorrect {
color: red;
}